RewriteEngine on
Options -Indexes

Satisfy any

#to remove php extension
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^list-probation-type$ list_probation_type.php [L]
RewriteRule ^list-probation-level$ list_probation_level.php [L]
RewriteRule ^list-probation-status$ list_probation_status.php [L]
RewriteRule ^list-1089T-reporting-type$ list_1098t_reporting_type.php [L]
RewriteRule ^list-ipeds-enrollment-status$ list_ipeds_enrollment_status.php [L]
RewriteRule ^list-distance-learning$ list_distance_learning.php [L]

RewriteRule ^create-academic-calendar$ academic_calendar.php [L]
RewriteRule ^list-academic-calendar$ list_academic_calendar.php [L]
RewriteRule ^create-lead-source$ create_lead_source.php [L]
RewriteRule ^list-lead-source$ list_lead_source.php [L]
RewriteRule ^create-lead-contact-source$ create_lead_contact_source.php [L]
RewriteRule ^list-lead-contact-source$ list_lead_contact_source.php [L]
RewriteRule ^create-lead-source-group$ create_lead_source_group.php [L]
RewriteRule ^list-lead-source-group$ list_lead_source_group.php [L]
RewriteRule ^create-school-requirement$ create_school_requirement.php [L]
RewriteRule ^list-school-requirement$ list_school_requirement.php [L]
RewriteRule ^create-questionnaire$ create_questionnaire.php [L]
RewriteRule ^list-questionnaire$ list_questionnaire.php [L]
RewriteRule ^create-fee-type$ create_fee_type.php [L]
RewriteRule ^list-fee-type$ list_fee_type.php [L]
RewriteRule ^create-payment-type$ create_payment_type.php [L]
RewriteRule ^list-payment-type$ list_payment_type.php [L]
RewriteRule ^create-ledger-code$ create_ledger_code.php [L]
RewriteRule ^list-ledger-code$ list_ledger_code.php [L]
RewriteRule ^create-course-offering-student-status$ create_course_offering_student_status.php [L]
RewriteRule ^list-course-offering-student-status$ list_course_offering_student_status.php [L]
RewriteRule ^create-drop-reason$ create_drop_reason.php [L]
RewriteRule ^list-drop-reason$ list_drop_reason.php [L]
RewriteRule ^create-grade-book-type$ create_grade_book_type.php [L]
RewriteRule ^list-grade-book-type$ list_grade_book_type.php [L]
RewriteRule ^create-enrollment-status-scale$ create_enrollment_status_scale.php [L]
RewriteRule ^list-enrollment-status-scale$ list_enrollment_status_scale.php [L]
RewriteRule ^create-grade-setup$ create_grade_setup.php [L]
RewriteRule ^list-grade-setup$ list_grade_setup.php [L]
RewriteRule ^create-transfer-status$ create_transfer_status.php [L]
RewriteRule ^list-transfer-status$ list_transfer_status.php [L]
RewriteRule ^list-marital-status$ list_marital_status.php [L]
RewriteRule ^list-countries$ list_countries.php [L]
RewriteRule ^list-states$ list_states.php [L]
RewriteRule ^list-gender$ list_gender.php [L]
RewriteRule ^list-citizenship$ list_citizenship.php [L]
RewriteRule ^list-highest-level-of-edu$ list_highest_level_of_edu.php [L]
RewriteRule ^list-IPEDS-category$ list_ipeds_category.php [L]
RewriteRule ^list-relationship$ list_relationship.php [L]
RewriteRule ^list-act-measure$ list_act_measure.php [L]
RewriteRule ^list-atb-code$ list_atb_code.php [L]
RewriteRule ^list-atb-admin-code$ list_atb_admin_code.php [L]
RewriteRule ^list-atb-test-code$ list_atb_test_code.php [L]
RewriteRule ^list-education-type$ list_education_type.php [L]
RewriteRule ^list-session$ list_session.php [L]
RewriteRule ^create-session$ create_session.php [L]
RewriteRule ^list-priority$ list_priority.php [L]
RewriteRule ^create-student-notes-status$ create_student_note_status.php [L]
RewriteRule ^list-student-notes-status$ list_student_note_status.php [L]
RewriteRule ^create-student-notes-type$ create_student_note_type.php [L]
RewriteRule ^list-student-notes-type$ list_student_note_type.php [L]
RewriteRule ^create-task-type$ create_task_type.php [L]
RewriteRule ^list-task-type$ list_task_type.php [L]
RewriteRule ^create-task-status$ create_task_status.php [L]
RewriteRule ^list-task-status$ list_task_status.php [L]
RewriteRule ^create-student-event-type$ create_student_event_type.php [L]
RewriteRule ^list-student-event-type$ list_student_event_type.php [L]
RewriteRule ^create-task-other$ create_task_other.php [L]
RewriteRule ^list-task-other$ list_task_other.php [L]
RewriteRule ^create-student-event-status$ create_student_event_status.php [L]
RewriteRule ^list-student-event-status$ list_student_event_status.php [L]
RewriteRule ^create-student-event-other$ create_student_event_other.php [L]
RewriteRule ^list-student-event-other$ list_student_event_other.php [L]
RewriteRule ^create-document-type$ create_document_type.php [L]
RewriteRule ^list-document-type$ list_document_type.php [L]
RewriteRule ^create-term-block$ create_term_block.php [L]
RewriteRule ^list-term-block$ list_term_block.php [L]
RewriteRule ^list-enrollment-status$ list_part_time_full_time.php [L]
RewriteRule ^create-funding$ create_funding.php [L]
RewriteRule ^list-funding$ list_funding.php [L]
RewriteRule ^create-term$ create_term.php [L]
RewriteRule ^list-end-year$ list_end_year.php [L]
RewriteRule ^list-timezone$ list_timezone.php [L]
RewriteRule ^create-student-status$ create_student_status.php [L]
RewriteRule ^list-student-status$ list_student_status.php [L]
RewriteRule ^create-campus$ create_campus.php [L]
RewriteRule ^list-campus$ list_campus.php [L]
RewriteRule ^create-user-defined-fields$ create_user_defined_fields.php [L]
RewriteRule ^list-user-defined-fields$ list_user_defined_fields.php [L]
RewriteRule ^create-custom-fields$ create_custom_fields.php [L]
RewriteRule ^list-custom-fields$ list_custom_fields.php [L]
RewriteRule ^create-program-group$ create_program_group.php [L]
RewriteRule ^list-program-group$ list_program_group.php [L]
RewriteRule ^create-soc-code$ create_soc.php [L]
RewriteRule ^list-soc-code$ list_soc.php [L]
RewriteRule ^create-employee-note-type$ create_employee_note_type.php [L]
RewriteRule ^list-employee-note-type$ list_employee_note_type.php [L]
RewriteRule ^create-employee-note-status$ create_employee_note_status.php [L]
RewriteRule ^list-employee-note-status$ list_employee_note_status.php [L]
RewriteRule ^list-prefix$ list_prefix.php [L]
RewriteRule ^create-employee$ create_employee.php [L]
RewriteRule ^list-employee$ list_employee.php [L]
RewriteRule ^list-credential-level$ list_credential_level.php [L]
RewriteRule ^list-clock-credit$ list_clock_credit.php [L]
RewriteRule ^list-diploma-certificate$ list_diploma_certificate.php [L]
RewriteRule ^list-tuition-type$ list_tuition_type.php [L]
RewriteRule ^list-special-program-indicator$ list_special_program_indicator.php [L]
RewriteRule ^create-grade-scale-setup$ create_grade_scale_setup.php [L]
RewriteRule ^list-grade-scale-setup$ list_grade_scale_setup.php [L]
RewriteRule ^list-account-fee-type$ list_account_fee_type.php [L]
RewriteRule ^list-dependent-status$ list_dependent_status.php [L]
RewriteRule ^list-housing-type$ list_housing_type.php [L]
RewriteRule ^list-ge-disclosure$ list_ge_disclosure.php [L]
RewriteRule ^list-course-type$ list_course_type.php [L]
RewriteRule ^list-earning-type$ list_earning_type.php [L]
RewriteRule ^create-department$ create_department.php [L]
RewriteRule ^list-department$ list_department.php [L]
RewriteRule ^list-attendance-type$ list_attendance_type.php [L]
RewriteRule ^list-attendance-code$ list_attendance_code.php [L]
RewriteRule ^create-program-grade-book-code$ create_program_grade_book_code.php [L]
RewriteRule ^list-program-grade-book-code$ list_program_grade_book_code.php [L]
RewriteRule ^list-payment-frequency$ list_payment_frequency.php [L]
RewriteRule ^create-student-group$ create_student_group.php [L]
RewriteRule ^list-student-group$ list_student_group.php [L]
RewriteRule ^create-lead$ create_lead.php [L]
RewriteRule ^list-lead$ list_lead.php [L]
RewriteRule ^web-form$ web_form.php [L]
RewriteRule ^web-login$ web_login.php [L]
RewriteRule ^create-room$ create_room.php [L]
RewriteRule ^list-room$ list_room.php [L]
RewriteRule ^create-course-offering$ create_course_offering.php [L]
RewriteRule ^list-course-offering$ list_course_offering.php [L]
RewriteRule ^create-course$ create_course.php [L]
RewriteRule ^list-course$ list_course.php [L]
RewriteRule ^course/([^/]*)$ course.php?id=$1 [L]
RewriteRule ^list-contact-type$ list_contact_type.php [L]
RewriteRule ^list-sat-measure$ list_sat_measure.php [L]
RewriteRule ^list-award-year$ list_award_year.php [L]
RewriteRule ^create-program$ create_program.php [L]
RewriteRule ^list-program$ list_program.php [L]
RewriteRule ^create-payment-batch$ create_batch_payment.php [L]
RewriteRule ^list-payment-batch$ list_batch_payment.php [L]
RewriteRule ^create-miscellaneous-batch$ create_miscellaneous_batch.php [L]
RewriteRule ^list-miscellaneous-batch$ list_miscellaneous_batch.php [L]
RewriteRule ^create-placement-company-event-type$ create_placement_company_event_type.php [L]
RewriteRule ^list-placement-company-event-type$ list_placement_company_event_type.php [L]

RewriteRule ^search-student$ search_student.php [L]
RewriteRule ^search-employee$ search_employee.php [L]
RewriteRule ^search-ledger$ search_ledger.php [L]
RewriteRule ^search-course-offering$ search_course_offering.php [L]
RewriteRule ^search-student-enrollment$ search_enrollment.php [L]
RewriteRule ^list-course-offering-status$ list_course_offering_status.php [L]
RewriteRule ^create-lead-note-old-enrollment-ID$ create_lead_notes.php [L]
RewriteRule ^create-tuition-batch$ create_tuition_batch.php [L]
RewriteRule ^list-tuition-batch$ list_tuition_batch.php [L]
RewriteRule ^list-coe-cpl-special$ list_coe_cpl_special.php [L]
RewriteRule ^create-student-notes-by-enrollment-ID$ create_student_notes_by_enrollment.php [L]
RewriteRule ^create-placement-company-event$ create_placement_company_event.php [L]
RewriteRule ^search-term$ search_term.php [L]

RewriteRule ^create-placement-status$ create_placement_status.php [L]
RewriteRule ^list-placement-status$ list_placement_status.php [L]

RewriteRule ^list-race$ list_race.php [L]
RewriteRule ^list-race/([^/]*)$ list_race.php?str=$1 [L]

RewriteRule ^list-term$ list_term.php [L]
RewriteRule ^list-term/([^/]*)$ list_term.php?str=$1 [L]

RewriteRule ^list-users/([^/]*)$ list-users.php?id=$1 [L]
RewriteRule ^list-users list-users.php [L]
RewriteRule ^user/([^/]*)$ user.php?type=$1 [L]
RewriteRule ^user/([^/]*)/([^/]*)$ user.php?type=$1&id=$2 [L]

RewriteRule ^create-student-program-grade-book$ create_student_program_grade_book.php [L]
RewriteRule ^list-student-program-grade-book/([^/]*)$ list_student_program_grade_book.php?id=$1 [L]

RewriteRule ^create-course-offering-grade-book$ create_course_offering_grade_book.php [L]
RewriteRule ^list-course-offering-grade-book/([^/]*)$ list_course_offering_grade_book.php?id=$1 [L]

RewriteRule ^list-placement-company-status$ list_placement_company_status.php [L]
RewriteRule ^create-placement-company-status$ create_placement_company_status.php [L]
RewriteRule ^list-placement-type$ list_placement_type.php [L]
RewriteRule ^create-placement-type$ create_placement_type.php [L]
RewriteRule ^create-company$ create_company.php [L]
RewriteRule ^create-placement-company-question-group$ create_placement_company_question_group.php [L]
RewriteRule ^list-placement-company-question-group$ list_placement_company_question_group.php [L]
RewriteRule ^create-placement-company-question$ create_placement_company_questionnaire.php [L]
RewriteRule ^list-placement-company-question$ list_placement_company_questionnaire.php [L]
RewriteRule ^list-pay-type$ list_pay_type.php [L]
RewriteRule ^create-pay-type$ create_pay_type.php [L]
RewriteRule ^list-company$ list_company.php [L] 
RewriteRule ^list-placement-student-status-category$ list_placement_student_status_category.php [L]
RewriteRule ^create-student-job$ create_student_job.php [L] 

RewriteRule ^create-verification-source$ create_verification_source.php [L]
RewriteRule ^list-verification-source$ list_verification_source.php [L]
RewriteRule ^list-student-job$ list_student_job.php [L] 

RewriteRule ^search-company$ search_company.php [L]
RewriteRule ^search-company-contact$ search_company_contact.php [L]
RewriteRule ^search-company-job$ search_company_job.php [L]
RewriteRule ^search-batch$ search_batch.php [L]
RewriteRule ^search-student-job$ search_student_job.php [L]

RewriteRule ^create-student-attendance$ create_attendance.php [L]

RewriteRule ^create-student-test-by-current-enrollment$ create_student_test_by_current_enrollment.php [L]
RewriteRule ^create-student-test-by-d3-enrollment-id$ create_student_test_by_d3_enrollment.php [L]
RewriteRule ^create-student-test-by-old-enrollment$ create_student_test_by_old_dsis_enrollment.php [L]